<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4" style="width: 100%; max-width: 450px;">
        <h2 class="text-center mt-4 text-dark">Change Password</h2>
        <div class="row mt-2 justify-content-center align-items-center">
            <div class="col-12">
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
                    <div class="form-group mt-3">
                        <label for="password" class="text-dark"><b>New Password:</b></label>
                        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Enter your new password">
                        <div *ngIf="getpassword()?.invalid && getpassword()?.touched" class="ErrorMessage">
                            {{ passwordError() }}
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="confirmPassword" class="text-dark"><b>Confirm Password:</b></label>
                        <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Confirm your new password">
                        <div *ngIf="getConfirmPassword()?.invalid && getConfirmPassword()?.touched" class="ErrorMessage">
                            {{ confirmPasswordError() }}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-primary" routerLink="/login" >Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
